
# Usage:
#   source ./.env.terraform-backend
#   terragrunt run-all plan
# Terraform Backend Configuration
# Source this file before running Terragrunt commands

export TG_STATE_BUCKET="<your-s3-bucket-name>"
export TG_STATE_LOCK_TABLE="<your-dynamodb-table-name>"
export TG_VAR_region="<aws-region>"
export TG_VAR_owner="<your-username>"
export TG_VAR_app_name="<your-app-name>"
export TG_VAR_profile="<aws-profile-name>"
export TG_VAR_argocd_repo_url="https://github.com/<USER>/<REPO>"
export TG_VAR_argocd_repo_path="<path/to/argocd/manifests>"
export TG_VAR_argocd_target_revision="main"
# export TG_VAR_git_token="<your-git-token>" DEPRECATED: Use a secure method to manage secrets instead of hardcoding them in environment variables
export TG_VAR_oci_user_ocid="ocid1.user.oc1..<unique-id>"
export TG_VAR_oci_compartment_id="ocid1.tenancy.oc1..<unique-id>"
export TG_VAR_oci_tenancy_ocid="ocid1.tenancy.oc1..<unique-id>"
export TG_VAR_oci_fingerprint="xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
export TG_VAR_oci_private_key_path="/home/<user>/.oci/oci_api_key.pem"
export TG_VAR_oci_private_key_password=""
export TG_VAR_bastion_ssh_key_path="/home/<user>/.ssh/oci_bastion_k8s"

export TG_VAR_atp_admin_password="<your-atp-admin-password>"
export TG_VAR_flask_db_password="<your-flask-db-password>"

export TG_VAR_keycloak_db_password="<your-keycloak-db-password>"
export TG_VAR_cert_manager_email="<your-email@example.com>"

# Usage:
#   source ./.env.terraform-backend
#   terragrunt run --all plan